<a href="https://colab.research.google.com/github/AndreGulyi/Pandas_for_everyone/blob/main/Pandas_for_everyone_Part_2_Pandas_Data_Structures_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

##2.1 Create Your Own Data

###2.1.1 Create a Series

In [ ]:
 s = pd.Series(['banana', 2])
 print(s)

In [ ]:
# manually assign index values to a series
# by passing a Python list
s = pd.Series(
data=["Wes McKinney", "Creator of Pandas"],
index=["Person", "Who"],)
print(s)

In [ ]:
scientists = pd.DataFrame(
{
"Name": ["Rosaline Franklin", "WilliamGosset"],
"Occupation": ["Chemist", "Statistician"],
"Born": ["1920-07-25", "1876-06-13"],
"Died": ["1958-04-16", "1937-10-16"],
"Age": [37, 61],
}
)
print(scientists)

In [ ]:
scientists = pd.DataFrame(
data={
"Occupation": ["Chemist", "Statistician"],
"Born": ["1920-07-25", "1876-06-13"],
"Died": ["1958-04-16", "1937-10-16"],
"Age": [37, 61],
},
index=["Rosaline Franklin", "William Gosset"],columns=["Occupation", "Born", "Died", "Age"],
)
print(scientists)

##2.2 The Series

In [ ]:
# create our example dataframe
# with a row index label
scientists = pd.DataFrame(
data={
"Occupation": ["Chemist", "Statistician"],
"Born": ["1920-07-25", "1876-06-13"],
"Died": ["1958-04-16", "1937-10-16"],
"Age": [37, 61],
},
index=["Rosaline Franklin", "William Gosset"],
columns=["Occupation", "Born", "Died", "Age"],
)

In [ ]:
scientists.head()

In [ ]:
# select by row index label
first_row = scientists.loc['William Gosset']
print(type(first_row))

In [ ]:
print(first_row)

In [ ]:
print(first_row.index)

In [ ]:
print(first_row.values)

In [ ]:
print(first_row.keys())

In [ ]:
# get the first index using an attribute
print(first_row.index[0])

In [ ]:
# get the first index using a method
print(first_row.keys()[0])

###2.2.1 The Series Is ndarray-like

####2.2.1.1 Series Methods

In [ ]:
# get the 'Age' column
ages = scientists['Age']
print(ages)

In [ ]:
# calculate the mean
print(ages.mean())

In [ ]:
# calculate the minimum
print(ages.min())

In [ ]:
# calculate the maximum
print(ages.max())

In [ ]:
# calculate the standard deviation
print(ages.std())

### 2.2.2 Boolean Subsetting: Series

In [ ]:
scientists = pd.read_csv('/content/drive/MyDrive/DataScience/AG:Pandas_for_everyone/data/scientists.csv')

In [ ]:
scientists.head()

In [ ]:
scientists.info()

In [ ]:
ages = scientists['Age']
print(ages)

In [ ]:
ages.describe()

In [ ]:
ages.hist()

In [ ]:
# mean of all ages
print(ages.mean())

In [ ]:
print(ages[ages > ages.mean()])

In [ ]:
print(ages > ages.mean())

#### 2.2.3.3 Vectors With Different Lengths

In [ ]:
print(ages + pd.Series([1, 100]))

In [ ]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

In [ ]:
# reference output to show index label alignment
print(ages * 2)

In [ ]:
# note how we get the same values
# even though the vector is reversed
print(ages + rev_ages)

###2.3.1 Parts of a DataFrame

In [ ]:
scientists.index

In [ ]:
scientists.columns

In [ ]:
scientists.values

###2.3.2 Boolean Subsetting: DataFrames

In [ ]:
range = (scientists['Age']>scientists['Age'].mean())
print(range)

In [ ]:
# boolean vectors will subset rows
print(scientists.loc[scientists['Age'] > scientists['Age'].mean()])

####2.3.3 Operations Are Automatically Aligned and Vectorized (Broadcasting)

In [ ]:
first_half = scientists[:4]
second_half = scientists[4:]

In [ ]:
print(first_half)

In [ ]:
print(second_half)

In [ ]:
# multiply by a scalar
print(scientists * 2)

In [ ]:
# format the 'Born' column as a datetime
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

In [ ]:
# format the 'Died' column as a datetime
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')

In [ ]:
scientists['born_dt'], scientists['died_dt'] = (born_datetime,died_datetime)
print(scientists.head())

In [ ]:
print(scientists.shape)

In [ ]:
print(scientists.dtypes)

###2.4.2 Directly Change a Column

In [ ]:
print(scientists['Age'])

In [ ]:
# the frac=1 tells pandas to randomly select 100% of the values
# the random_state makes the randomization the same each time
scientists["Age"] = scientists["Age"].sample(frac=1,random_state=42)
print(scientists['Age'])

In [ ]:
# remove the index so it doesn't auto align the values
scientists['Age'] = (scientists['Age'].sample(frac=1, random_state=42).values )
print(scientists['Age'])

###2.4.4 Dropping Values

In [ ]:
# all the current columns in our data
print(scientists.columns)

In [ ]:
# drop the shuffled age column
# you provide the axis=1 argument to drop column-wise
scientists_dropped = scientists.drop(['Age'],
axis="columns")

In [ ]:
# columns after dropping our column
print(scientists_dropped.columns)