# Transformations on a JSON file using Pandas

This is a notebook for the medium article [Transformations on a JSON file using Pandas](https://medium.com/@nachovargas/transformations-on-a-json-file-using-pandas-eba831181a96)

Please check out article for instructions

License: [MIT](https://opensource.org/licenses/MIT)

In [11]:
import pandas as pd
import requests
import json

## 1. Explode

In [2]:
data = {
    'col_1': [True, False],
    'col_2': [['one', 'two'], ['three']]
}
df = pd.DataFrame(data)
df

   col_1       col_2
0   True  [one, two]
1  False     [three]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      bool
 1   col_2   2 non-null      object
dtypes: bool(1), object(1)
memory usage: 146.0+ bytes

In [4]:
exploded_df = df.explode('col_2')
exploded_df

   col_1  col_2
0   True    one
0   True    two
1  False  three

In [5]:
exploded_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   3 non-null      bool
 1   col_2   3 non-null      object
dtypes: bool(1), object(1)
memory usage: 51.0+ bytes

## 2. JSON Normalize

In [6]:
data = [
  {
    "id": 1,
    "name": {
      "first": "Coleen",
      "last": "Volk"
    }
  },
  {
    "name": {
      "given": "Mark",
      "family": "Regner"
    }
  },
  {
    "id": 2,
    "name": "Faye Raker"
  },
  
]
df = pd.json_normalize(data)
df

    id name.first name.last name.given name.family        name
0  1.0     Coleen      Volk        NaN         NaN         NaN
1  NaN        NaN       NaN       Mark      Regner         NaN
2  2.0        NaN       NaN        NaN         NaN  Faye Raker

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           2 non-null      float64
 1   name.first   1 non-null      object
 2   name.last    1 non-null      object
 3   name.given   1 non-null      object
 4   name.family  1 non-null      object
 5   name         1 non-null      object
dtypes: float64(1), object(5)
memory usage: 272.0+ bytes

In [8]:
df = pd.json_normalize(data, sep=' | ')
df

    id name | first name | last name | given name | family        name
0  1.0       Coleen        Volk          NaN           NaN         NaN
1  NaN          NaN         NaN         Mark        Regner         NaN
2  2.0          NaN         NaN          NaN           NaN  Faye Raker

In [9]:
df = pd.json_normalize(data, max_level=0)
df

    id                                   name
0  1.0    {'first': 'Coleen', 'last': 'Volk'}
1  NaN  {'given': 'Mark', 'family': 'Regner'}
2  2.0                             Faye Raker

In [10]:
df = pd.json_normalize(data, max_level=1)
df

    id name.first name.last name.given name.family        name
0  1.0     Coleen      Volk        NaN         NaN         NaN
1  NaN        NaN       NaN       Mark      Regner         NaN
2  2.0        NaN       NaN        NaN         NaN  Faye Raker

## 3. Example

We will get the example products from the dummyjson website.

In [21]:

raw_data = requests.get('https://dummyjson.com/carts')
data = raw_data.json().get('carts')
data

[{'id': 1,
  'products': [{'id': 59,
    'title': 'Spring and summershoes',
    'price': 20,
    'quantity': 3,
    'total': 60,
    'discountPercentage': 8.71,
    'discountedPrice': 55},
   {'id': 88,
    'title': 'TC Reusable Silicone Magic Washing Gloves',
    'price': 29,
    'quantity': 2,
    'total': 58,
    'discountPercentage': 3.19,
    'discountedPrice': 56},
   {'id': 18,
    'title': 'Oil Free Moisturizer 100ml',
    'price': 40,
    'quantity': 2,
    'total': 80,
    'discountPercentage': 13.1,
    'discountedPrice': 70},
   {'id': 95,
    'title': 'Wholesale cargo lashing Belt',
    'price': 930,
    'quantity': 1,
    'total': 930,
    'discountPercentage': 17.67,
    'discountedPrice': 766},
   {'id': 39,
    'title': 'Women Sweaters Wool',
    'price': 600,
    'quantity': 2,
    'total': 1200,
    'discountPercentage': 17.2,
    'discountedPrice': 994}],
  'total': 2328,
  'discountedTotal': 1941,
  'userId': 97,
  'totalProducts': 5,
  'totalQuantity': 10},
 {'id': 2,
  'products': [{'id': 96,
    'title': 'lighting ceiling kitchen',
    'price': 30,
    'quantity': 2,
    'total': 60,
    'discountPercentage': 14.89,
    'discountedPrice': 51},
   {'id': 91,
    'title': 'Black Motorbike',
    'price': 569,
    'quantity': 3,
    'total': 1707,
    'discountPercentage': 13.63,
    'discountedPrice': 1474},
   {'id': 9,
    'title': 'Infinix INBOOK',
    'price': 1099,
    'quantity': 1,
    'total': 1099,
    'discountPercentage': 11.83,
    'discountedPrice': 969},
   {'id': 16,
    'title': 'Hyaluronic Acid Serum',
    'price': 19,
    'quantity': 1,
    'total': 19,
    'discountPercentage': 13.31,
    'discountedPrice': 16},
   {'id': 54,
    'title': 'Pubg Printed Graphic T-Shirt',
    'price': 46,
    'quantity': 3,
    'total': 138,
    'discountPercentage': 16.44,
    'discountedPrice': 115}],
  'total': 3023,
  'discountedTotal': 2625,
  'userId': 30,
  'totalProducts': 5,
  'totalQuantity': 10},
 {'id': 3,
  'products': [{'id': 37,
    'title': 'ank Tops for Womens/Girls',
    'price': 50,
    'quantity': 2,
    'total': 100,
    'discountPercentage': 12.05,
    'discountedPrice': 88},
   {'id': 80,
    'title': 'Chain Pin Tassel Earrings',
    'price': 45,
    'quantity': 3,
    'total': 135,
    'discountPercentage': 17.75,
    'discountedPrice': 111},
   {'id': 68,
    'title': 'Stylish Luxury Digital Watch',
    'price': 57,
    'quantity': 3,
    'total': 171,
    'discountPercentage': 9.03,
    'discountedPrice': 156},
   {'id': 81,
    'title': 'Round Silver Frame Sun Glasses',
    'price': 19,
    'quantity': 1,
    'total': 19,
    'discountPercentage': 10.1,
    'discountedPrice': 17},
   {'id': 90,
    'title': 'Cycle Bike Glow',
    'price': 35,
    'quantity': 1,
    'total': 35,
    'discountPercentage': 11.08,
    'discountedPrice': 31}],
  'total': 460,
  'discountedTotal': 403,
  'userId': 63,
  'totalProducts': 5,
  'totalQuantity': 10},
 {'id': 4,
  'products': [{'id': 36,
    'title': 'Sleeve Shirt Womens',
    'price': 90,
    'quantity': 1,
    'total': 90,
    'discountPercentage': 10.89,
    'discountedPrice': 80},
   {'id': 54,
    'title': 'Pubg Printed Graphic T-Shirt',
    'price': 46,
    'quantity': 1,
    'total': 46,
    'discountPercentage': 16.44,
    'discountedPrice': 38},
   {'id': 11,
    'title': 'perfume Oil',
    'price': 13,
    'quantity': 3,
    'total': 39,
    'discountPercentage': 8.4,
    'discountedPrice': 36},
   {'id': 47,
    'title': 'Sneaker shoes',
    'price': 120,
    'quantity': 2,
    'total': 240,
    'discountPercentage': 10.37,
    'discountedPrice': 215},
   {'id': 64,
    'title': 'Leather Strap Skeleton Watch',
    'price': 46,
    'quantity': 3,
    'total': 138,
    'discountPercentage': 10.2,
    'discountedPrice': 124}],
  'total': 553,
  'discountedTotal': 493,
  'userId': 83,
  'totalProducts': 5,
  'totalQuantity': 10},
 {'id': 5,
  'products': [{'id': 23,
    'title': 'Orange Essence Food Flavou',
    'price': 14,
    'quantity': 3,
    'total': 42,
    'discountPercentage': 8.04,
    'discountedPrice': 39},
   {'id': 91,
    'title': 'Black Motorbike',
    'price': 569,
    'quantity': 1,
    'total': 569,
    'discountPercentage': 13.63,
    'discountedPrice': 491},
   {'id': 45,
    'title': 'Malai Maxi Dress',
    'price': 50,
    'quantity': 2,
    'total': 100,
    'discountPercentage': 5.07,
    'discountedPrice': 95},
   {'id': 84,
    'title': 'Square Sunglasses',
    'price': 28,
    'quantity': 1,
    'total': 28,
    'discountPercentage': 13.89,
    'discountedPrice': 24},
   {'id': 70,
    'title': 'Stainless Steel Women',
    'price': 35,
    'quantity': 3,
    'total': 105,
    'discountPercentage': 8.98,
    'discountedPrice': 96}],
  'total': 844,
  'discountedTotal': 745,
  'userId': 58,
  'totalProducts': 5,
  'totalQuantity': 10},
 {'id': 6,
  'products': [{'id': 53,
    'title': 'printed high quality T shirts',
    'price': 35,
    'quantity': 3,
    'total': 105,
    'discountPercentage': 7.54,
    'discountedPrice': 97},
   {'id': 61,
    'title': 'Leather Straps Wristwatch',
    'price': 120,
    'quantity': 2,
    'total': 240,
    'discountPercentage': 7.14,
    'discountedPrice': 223},
   {'id': 92,
    'title': 'HOT SALE IN EUROPE electric racing motorcycle',
    'price': 920,
    'quantity': 1,
    'total': 920,
    'discountPercentage': 14.4,
    'discountedPrice': 788},
   {'id': 11,
    'title': 'perfume Oil',
    'price': 13,
    'quantity': 3,
    'total': 39,
    'discountPercentage': 8.4,
    'discountedPrice': 36},
   {'id': 37,
    'title': 'ank Tops for Womens/Girls',
    'price': 50,
    'quantity': 3,
    'total': 150,
    'discountPercentage': 12.05,
    'discountedPrice': 132}],
  'total': 1454,
  'discountedTotal': 1276,
  'userId': 26,
  'totalProducts': 5,
  'totalQuantity': 12},
 {'id': 7,
  'products': [{'id': 61,
    'title': 'Leather Straps Wristwatch',
    'price': 120,
    'quantity': 1,
    'total': 120,
    'discountPercentage': 7.14,
    'discountedPrice': 111},
   {'id': 80,
    'title': 'Chain Pin Tassel Earrings',
    'price': 45,
    'quantity': 2,
    'total': 90,
    'discountPercentage': 17.75,
    'discountedPrice': 74},
   {'id': 99,
    'title': 'American Vintage Wood Pendant Light',
    'price': 46,
    'quantity': 3,
    'total': 138,
    'discountPercentage': 8.84,
    'discountedPrice': 126},
   {'id': 14,
    'title': 'Non-Alcoholic Concentrated Perfume Oil',
    'price': 120,
    'quantity': 1,
    'total': 120,
    'discountPercentage': 15.6,
    'discountedPrice': 101},
   {'id': 48,
    'title': 'Women Strip Heel',
    'price': 40,
    'quantity': 3,
    'total': 120,
    'discountPercentage': 10.83,
    'discountedPrice': 107}],
  'total': 588,
  'discountedTotal': 519,
  'userId': 56,
  'totalProducts': 5,
  'totalQuantity': 10},
 {'id': 8,
  'products': [{'id': 45,
    'title': 'Malai Maxi Dress',
    'price': 50,
    'quantity': 1,
    'total': 50,
    'discountPercentage': 5.07,
    'discountedPrice': 47},
   {'id': 83,
    'title': 'Wiley X Night Vision Yellow Glasses',
    'price': 30,
    'quantity': 3,
    'total': 90,
    'discountPercentage': 6.33,
    'discountedPrice': 84},
   {'id': 96,
    'title': 'lighting ceiling kitchen',
    'price': 30,
    'quantity': 1,
    'total': 30,
    'discountPercentage': 14.89,
    'discountedPrice': 26},
   {'id': 21,
    'title': '- Daal Masoor 500 grams',
    'price': 20,
    'quantity': 3,
    'total': 60,
    'discountPercentage': 4.81,
    'discountedPrice': 57},
   {'id': 2,
    'title': 'iphone X',
    'price': 899,
    'quantity': 1,
    'total': 899,
    'discountPercentage': 17.94,
    'discountedPrice': 738}],
  'total': 1129,
  'discountedTotal': 952,
  'userId': 1,
  'totalProducts': 5,
  'totalQuantity': 9},
 {'id': 9,
  'products': [{'id': 74,
    'title': 'Leather Hand Bag',
    'price': 57,
    'quantity': 3,
    'total': 171,
    'discountPercentage': 11.19,
    'discountedPrice': 152},
   {'id': 10,
    'title': 'HP Pavilion 15-DK1056WM',
    'price': 1099,
    'quantity': 3,
    'total': 3297,
    'discountPercentage': 6.18,
    'discountedPrice': 3093},
   {'id': 19,
    'title': 'Skin Beauty Serum.',
    'price': 46,
    'quantity': 2,
    'total': 92,
    'discountPercentage': 10.68,
    'discountedPrice': 82},
   {'id': 53,
    'title': 'printed high quality T shirts',
    'price': 35,
    'quantity': 1,
    'total': 35,
    'discountPercentage': 7.54,
    'discountedPrice': 32},
   {'id': 13,
    'title': 'Fog Scent Xpressio Perfume',
    'price': 13,
    'quantity': 1,
    'total': 13,
    'discountPercentage': 8.14,
    'discountedPrice': 12}],
  'total': 3608,
  'discountedTotal': 3371,
  'userId': 91,
  'totalProducts': 5,
  'totalQuantity': 10},
 {'id': 10,
  'products': [{'id': 75,
    'title': 'Seven Pocket Women Bag',
    'price': 68,
    'quantity': 1,
    'total': 68,
    'discountPercentage': 14.87,
    'discountedPrice': 58},
   {'id': 39,
    'title': 'Women Sweaters Wool',
    'price': 600,
    'quantity': 1,
    'total': 600,
    'discountPercentage': 17.2,
    'discountedPrice': 497},
   {'id': 3,
    'title': 'Samsung Universe 9',
    'price': 1249,
    'quantity': 3,
    'total': 3747,
    'discountPercentage': 15.46,
    'discountedPrice': 3168},
   {'id': 7,
    'title': 'Samsung Galaxy Book',
    'price': 1499,
    'quantity': 1,
    'total': 1499,
    'discountPercentage': 4.15,
    'discountedPrice': 1437},
   {'id': 93,
    'title': 'Automatic Motor Gas Motorcycles',
    'price': 1050,
    'quantity': 3,
    'total': 3150,
    'discountPercentage': 3.34,
    'discountedPrice': 3045}],
  'total': 9064,
  'discountedTotal': 8205,
  'userId': 13,
  'totalProducts': 5,
  'totalQuantity': 9},
 {'id': 11,
  'products': [{'id': 71,
    'title': 'Women Shoulder Bags',
    'price': 46,
    'quantity': 3,
    'total': 138,
    'discountPercentage': 14.65,
    'discountedPrice': 118},
   {'id': 25,
    'title': 'Gulab Powder 50 Gram',
    'price': 70,
    'quantity': 2,
    'total': 140,
    'discountPercentage': 13.58,
    'discountedPrice': 121},
   {'id': 65,
    'title': 'Stainless Steel Wrist Watch',
    'price': 47,
    'quantity': 3,
    'total': 141,
    'discountPercentage': 17.79,
    'discountedPrice': 116},
   {'id': 58,
    'title': 'formal offices shoes',
    'price': 57,
    'quantity': 1,
    'total': 57,
    'discountPercentage': 12,
    'discountedPrice': 50},
   {'id': 53,
    'title': 'printed high quality T shirts',
    'price': 35,
    'quantity': 3,
    'total': 105,
    'discountPercentage': 7.54,
    'discountedPrice': 97}],
  'total': 581,
  'discountedTotal': 502,
  'userId': 66,
  'totalProducts': 5,
  'totalQuantity': 12},
 {'id': 12,
  'products': [{'id': 32,
    'title': 'Sofa for Coffe Cafe',
    'price': 50,
    'quantity': 2,
    'total': 100,
    'discountPercentage': 15.59,
    'discountedPrice': 84},
   {'id': 41,
    'title': 'NIGHT SUIT',
    'price': 55,
    'quantity': 3,
    'total': 165,
    'discountPercentage': 15.05,
    'discountedPrice': 140},
   {'id': 69,
    'title': 'Golden Watch Pearls Bracelet Watch',
    'price': 47,
    'quantity': 1,
    'total': 47,
    'discountPercentage': 17.55,
    'discountedPrice': 39},
   {'id': 98,
    'title': '3 lights lndenpant kitchen islang',
    'price': 34,
    'quantity': 3,
    'total': 102,
    'discountPercentage': 5.92,
    'discountedPrice': 96},
   {'id': 67,
    'title': 'Fashion Magnetic Wrist Watch',
    'price': 60,
    'quantity': 2,
    'total': 120,
    'discountPercentage': 16.69,
    'discountedPrice': 100}],
  'total': 534,
  'discountedTotal': 459,
  'userId': 52,
  'totalProducts': 5,
  'totalQuantity': 11},
 {'id': 13,
  'products': [{'id': 81,
    'title': 'Round Silver Frame Sun Glasses',
    'price': 19,
    'quantity': 1,
    'total': 19,
    'discountPercentage': 10.1,
    'discountedPrice': 17},
   {'id': 42,
    'title': 'Stiched Kurta plus trouser',
    'price': 80,
    'quantity': 2,
    'total': 160,
    'discountPercentage': 15.37,
    'discountedPrice': 135},
   {'id': 29,
    'title': 'Handcraft Chinese style',
    'price': 60,
    'quantity': 3,
    'total': 180,
    'discountPercentage': 15.34,
    'discountedPrice': 152},
   {'id': 64,
    'title': 'Leather Strap Skeleton Watch',
    'price': 46,
    'quantity': 2,
    'total': 92,
    'discountPercentage': 10.2,
    'discountedPrice': 83},
   {'id': 54,
    'title': 'Pubg Printed Graphic T-Shirt',
    'price': 46,
    'quantity': 1,
    'total': 46,
    'discountPercentage': 16.44,
    'discountedPrice': 38}],
  'total': 497,
  'discountedTotal': 425,
  'userId': 79,
  'totalProducts': 5,
  'totalQuantity': 9},
 {'id': 14,
  'products': [{'id': 64,
    'title': 'Leather Strap Skeleton Watch',
    'price': 46,
    'quantity': 2,
    'total': 92,
    'discountPercentage': 10.2,
    'discountedPrice': 83},
   {'id': 76,
    'title': 'Silver Ring Set Women',
    'price': 70,
    'quantity': 2,
    'total': 140,
    'discountPercentage': 13.57,
    'discountedPrice': 121},
   {'id': 30,
    'title': 'Key Holder',
    'price': 30,
    'quantity': 2,
    'total': 60,
    'discountPercentage': 2.92,
    'discountedPrice': 58},
   {'id': 88,
    'title': 'TC Reusable Silicone Magic Washing Gloves',
    'price': 29,
    'quantity': 1,
    'total': 29,
    'discountPercentage': 3.19,
    'discountedPrice': 28},
   {'id': 94,
    'title': 'new arrivals Fashion motocross goggles',
    'price': 900,
    'quantity': 2,
    'total': 1800,
    'discountPercentage': 3.85,
    'discountedPrice': 1731}],
  'total': 2121,
  'discountedTotal': 2021,
  'userId': 76,
  'totalProducts': 5,
  'totalQuantity': 9},
 {'id': 15,
  'products': [{'id': 4,
    'title': 'OPPOF19',
    'price': 280,
    'quantity': 1,
    'total': 280,
    'discountPercentage': 17.91,
    'discountedPrice': 230},
   {'id': 100,
    'title': 'Crystal chandelier maria theresa for 12 light',
    'price': 47,
    'quantity': 3,
    'total': 141,
    'discountPercentage': 16,
    'discountedPrice': 118},
   {'id': 1,
    'title': 'iPhone 9',
    'price': 549,
    'quantity': 2,
    'total': 1098,
    'discountPercentage': 12.96,
    'discountedPrice': 956},
   {'id': 48,
    'title': 'Women Strip Heel',
    'price': 40,
    'quantity': 3,
    'total': 120,
    'discountPercentage': 10.83,
    'discountedPrice': 107},
   {'id': 94,
    'title': 'new arrivals Fashion motocross goggles',
    'price': 900,
    'quantity': 3,
    'total': 2700,
    'discountPercentage': 3.85,
    'discountedPrice': 2596}],
  'total': 4339,
  'discountedTotal': 4007,
  'userId': 47,
  'totalProducts': 5,
  'totalQuantity': 12},
 {'id': 16,
  'products': [{'id': 3,
    'title': 'Samsung Universe 9',
    'price': 1249,
    'quantity': 3,
    'total': 3747,
    'discountPercentage': 15.46,
    'discountedPrice': 3168},
   {'id': 50,
    'title': 'Women Shoes',
    'price': 36,
    'quantity': 3,
    'total': 108,
    'discountPercentage': 16.87,
    'discountedPrice': 90},
   {'id': 67,
    'title': 'Fashion Magnetic Wrist Watch',
    'price': 60,
    'quantity': 2,
    'total': 120,
    'discountPercentage': 16.69,
    'discountedPrice': 100},
   {'id': 86,
    'title': 'Bluetooth Aux',
    'price': 25,
    'quantity': 1,
    'total': 25,
    'discountPercentage': 10.56,
    'discountedPrice': 22},
   {'id': 12,
    'title': 'Brown Perfume',
    'price': 40,
    'quantity': 1,
    'total': 40,
    'discountPercentage': 15.66,
    'discountedPrice': 34}],
  'total': 4040,
  'discountedTotal': 3414,
  'userId': 15,
  'totalProducts': 5,
  'totalQuantity': 10},
 {'id': 17,
  'products': [{'id': 12,
    'title': 'Brown Perfume',
    'price': 40,
    'quantity': 3,
    'total': 120,
    'discountPercentage': 15.66,
    'discountedPrice': 101},
   {'id': 25,
    'title': 'Gulab Powder 50 Gram',
    'price': 70,
    'quantity': 1,
    'total': 70,
    'discountPercentage': 13.58,
    'discountedPrice': 60},
   {'id': 24,
    'title': 'cereals muesli fruit nuts',
    'price': 46,
    'quantity': 2,
    'total': 92,
    'discountPercentage': 16.8,
    'discountedPrice': 77},
   {'id': 90,
    'title': 'Cycle Bike Glow',
    'price': 35,
    'quantity': 1,
    'total': 35,
    'discountPercentage': 11.08,
    'discountedPrice': 31},
   {'id': 97,
    'title': 'Metal Ceramic Flower',
    'price': 35,
    'quantity': 1,
    'total': 35,
    'discountPercentage': 10.94,
    'discountedPrice': 31}],
  'total': 352,
  'discountedTotal': 300,
  'userId': 56,
  'totalProducts': 5,
  'totalQuantity': 8},
 {'id': 18,
  'products': [{'id': 23,
    'title': 'Orange Essence Food Flavou',
    'price': 14,
    'quantity': 2,
    'total': 28,
    'discountPercentage': 8.04,
    'discountedPrice': 26},
   {'id': 25,
    'title': 'Gulab Powder 50 Gram',
    'price': 70,
    'quantity': 2,
    'total': 140,
    'discountPercentage': 13.58,
    'discountedPrice': 121},
   {'id': 9,
    'title': 'Infinix INBOOK',
    'price': 1099,
    'quantity': 2,
    'total': 2198,
    'discountPercentage': 11.83,
    'discountedPrice': 1938},
   {'id': 78,
    'title': 'Rhinestone Korean Style Open Rings',
    'price': 30,
    'quantity': 2,
    'total': 60,
    'discountPercentage': 8.02,
    'discountedPrice': 55},
   {'id': 63,
    'title': 'Royal Blue Premium Watch',
    'price': 50,
    'quantity': 1,
    'total': 50,
    'discountPercentage': 2.56,
    'discountedPrice': 49}],
  'total': 2476,
  'discountedTotal': 2189,
  'userId': 42,
  'totalProducts': 5,
  'totalQuantity': 9},
 {'id': 19,
  'products': [{'id': 43,
    'title': 'frock gold printed',
    'price': 600,
    'quantity': 3,
    'total': 1800,
    'discountPercentage': 15.55,
    'discountedPrice': 1520},
   {'id': 77,
    'title': 'Rose Ring',
    'price': 100,
    'quantity': 3,
    'total': 300,
    'discountPercentage': 3.22,
    'discountedPrice': 290},
   {'id': 50,
    'title': 'Women Shoes',
    'price': 36,
    'quantity': 3,
    'total': 108,
    'discountPercentage': 16.87,
    'discountedPrice': 90},
   {'id': 31,
    'title': 'Mornadi Velvet Bed',
    'price': 40,
    'quantity': 2,
    'total': 80,
    'discountPercentage': 17,
    'discountedPrice': 66},
   {'id': 75,
    'title': 'Seven Pocket Women Bag',
    'price': 68,
    'quantity': 3,
    'total': 204,
    'discountPercentage': 14.87,
    'discountedPrice': 174}],
  'total': 2492,
  'discountedTotal': 2140,
  'userId': 5,
  'totalProducts': 5,
  'totalQuantity': 14},
 {'id': 20,
  'products': [{'id': 66,
    'title': 'Steel Analog Couple Watches',
    'price': 35,
    'quantity': 3,
    'total': 105,
    'discountPercentage': 3.23,
    'discountedPrice': 102},
   {'id': 59,
    'title': 'Spring and summershoes',
    'price': 20,
    'quantity': 1,
    'total': 20,
    'discountPercentage': 8.71,
    'discountedPrice': 18},
   {'id': 29,
    'title': 'Handcraft Chinese style',
    'price': 60,
    'quantity': 1,
    'total': 60,
    'discountPercentage': 15.34,
    'discountedPrice': 51},
   {'id': 32,
    'title': 'Sofa for Coffe Cafe',
    'price': 50,
    'quantity': 1,
    'total': 50,
    'discountPercentage': 15.59,
    'discountedPrice': 42},
   {'id': 46,
    'title': "women's shoes",
    'price': 40,
    'quantity': 2,
    'total': 80,
    'discountPercentage': 16.96,
    'discountedPrice': 66}],
  'total': 315,
  'discountedTotal': 279,
  'userId': 75,
  'totalProducts': 5,
  'totalQuantity': 8}]

In [22]:
df = pd.DataFrame.from_dict(data)
df

,id,products,total,discountedTotal,userId,totalProducts,totalQuantity
0,1,"[{'id': 59, 'title': 'Spring and summershoes',...",2328,1941,97,5,10
1,2,"[{'id': 96, 'title': 'lighting ceiling kitchen...",3023,2625,30,5,10
2,3,"[{'id': 37, 'title': 'ank Tops for Womens/Girl...",460,403,63,5,10
3,4,"[{'id': 36, 'title': 'Sleeve Shirt Womens', 'p...",553,493,83,5,10
4,5,"[{'id': 23, 'title': 'Orange Essence Food Flav...",844,745,58,5,10
5,6,"[{'id': 53, 'title': 'printed high quality T s...",1454,1276,26,5,12
6,7,"[{'id': 61, 'title': 'Leather Straps Wristwatc...",588,519,56,5,10
7,8,"[{'id': 45, 'title': 'Malai Maxi Dress', 'pric...",1129,952,1,5,9
8,9,"[{'id': 74, 'title': 'Leather Hand Bag', 'pric...",3608,3371,91,5,10
9,10,"[{'id': 75, 'title': 'Seven Pocket Women Bag',...",9064,8205,13,5,9
10,11,"[{'id': 71, 'title': 'Women Shoulder Bags', 'p...",581,502,66,5,12
11,12,"[{'id': 32, 'title': 'Sofa for Coffe Cafe', 'p...",534,459,52,5,11
12,13,"[{'id': 81, 'title': 'Round Silver Frame Sun G...",497,425,79,5,9
13,14,"[{'id': 64, 'title': 'Leather Strap Skeleton W...",2121,2021,76,5,9
14,15,"[{'id': 4, 'title': 'OPPOF19', 'price': 280, '...",4339,4007,47,5,12
15,16,"[{'id': 3, 'title': 'Samsung Universe 9', 'pri...",4040,3414,15,5,10
16,17,"[{'id': 12, 'title': 'Brown Perfume', 'price':...",352,300,56,5,8
17,18,"[{'id': 23, 'title': 'Orange Essence Food Flav...",2476,2189,42,5,9
18,19,"[{'id': 43, 'title': 'frock gold printed', 'pr...",2492,2140,5,5,14
19,20,"[{'id': 66, 'title': 'Steel Analog Couple Watc...",315,279,75,5,8

### 3.1 Explode the example

In [30]:
exploded_df = df.explode('products')
exploded_df

,id,products,total,discountedTotal,userId,totalProducts,totalQuantity
0,1,"{'id': 59, 'title': 'Spring and summershoes', ...",2328,1941,97,5,10
0,1,"{'id': 88, 'title': 'TC Reusable Silicone Magi...",2328,1941,97,5,10
0,1,"{'id': 18, 'title': 'Oil Free Moisturizer 100m...",2328,1941,97,5,10
0,1,"{'id': 95, 'title': 'Wholesale cargo lashing B...",2328,1941,97,5,10
0,1,"{'id': 39, 'title': 'Women Sweaters Wool', 'pr...",2328,1941,97,5,10
...,...,...,...,...,...,...,...
19,20,"{'id': 66, 'title': 'Steel Analog Couple Watch...",315,279,75,5,8
19,20,"{'id': 59, 'title': 'Spring and summershoes', ...",315,279,75,5,8
19,20,"{'id': 29, 'title': 'Handcraft Chinese style',...",315,279,75,5,8
19,20,"{'id': 32, 'title': 'Sofa for Coffe Cafe', 'pr...",315,279,75,5,8
19,20,"{'id': 46, 'title': 'women's shoes', 'price': ...",315,279,75,5,8

In [31]:
exploded_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 19
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               100 non-null    int64
 1   products         100 non-null    object
 2   total            100 non-null    int64
 3   discountedTotal  100 non-null    int64
 4   userId           100 non-null    int64
 5   totalProducts    100 non-null    int64
 6   totalQuantity    100 non-null    int64
dtypes: int64(6), object(1)
memory usage: 6.2+ KB

### 3.2 Normalize the example

In [32]:
normalized_df = pd.json_normalize(exploded_df['products'])
normalized_df

,id,title,price,quantity,total,discountPercentage,discountedPrice
0,59,Spring and summershoes,20,3,60,8.71,55
1,88,TC Reusable Silicone Magic Washing Gloves,29,2,58,3.19,56
2,18,Oil Free Moisturizer 100ml,40,2,80,13.10,70
3,95,Wholesale cargo lashing Belt,930,1,930,17.67,766
4,39,Women Sweaters Wool,600,2,1200,17.20,994
...,...,...,...,...,...,...,...
95,66,Steel Analog Couple Watches,35,3,105,3.23,102
96,59,Spring and summershoes,20,1,20,8.71,18
97,29,Handcraft Chinese style,60,1,60,15.34,51
98,32,Sofa for Coffe Cafe,50,1,50,15.59,42
99,46,women's shoes,40,2,80,16.96,66

In [33]:
normalized_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  100 non-null    int64
 1   title               100 non-null    object
 2   price               100 non-null    int64
 3   quantity            100 non-null    int64
 4   total               100 non-null    int64
 5   discountPercentage  100 non-null    float64
 6   discountedPrice     100 non-null    int64
dtypes: float64(1), int64(5), object(1)
memory usage: 5.6+ KB

### 3.3 Join

In [35]:
exploded_df.drop(['products'], axis=1, inplace=True)
exploded_df.reset_index(inplace=True)
exploded_df

    index  id  total  discountedTotal  userId  totalProducts  totalQuantity
0       0   1   2328             1941      97              5             10
1       0   1   2328             1941      97              5             10
2       0   1   2328             1941      97              5             10
3       0   1   2328             1941      97              5             10
4       0   1   2328             1941      97              5             10
..    ...  ..    ...              ...     ...            ...            ...
95     19  20    315              279      75              5              8
96     19  20    315              279      75              5              8
97     19  20    315              279      75              5              8
98     19  20    315              279      75              5              8
99     19  20    315              279      75              5              8

[100 rows x 7 columns]

In [36]:
joined_df = exploded_df.join(normalized_df, lsuffix='_cart', rsuffix='_product')
joined_df

,index,id_cart,total_cart,discountedTotal,userId,totalProducts,totalQuantity,id_product,title,price,quantity,total_product,discountPercentage,discountedPrice
0,0,1,2328,1941,97,5,10,59,Spring and summershoes,20,3,60,8.71,55
1,0,1,2328,1941,97,5,10,88,TC Reusable Silicone Magic Washing Gloves,29,2,58,3.19,56
2,0,1,2328,1941,97,5,10,18,Oil Free Moisturizer 100ml,40,2,80,13.10,70
3,0,1,2328,1941,97,5,10,95,Wholesale cargo lashing Belt,930,1,930,17.67,766
4,0,1,2328,1941,97,5,10,39,Women Sweaters Wool,600,2,1200,17.20,994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,19,20,315,279,75,5,8,66,Steel Analog Couple Watches,35,3,105,3.23,102
96,19,20,315,279,75,5,8,59,Spring and summershoes,20,1,20,8.71,18
97,19,20,315,279,75,5,8,29,Handcraft Chinese style,60,1,60,15.34,51
98,19,20,315,279,75,5,8,32,Sofa for Coffe Cafe,50,1,50,15.59,42
99,19,20,315,279,75,5,8,46,women's shoes,40,2,80,16.96,66

In [37]:
joined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               100 non-null    int64
 1   id_cart             100 non-null    int64
 2   total_cart          100 non-null    int64
 3   discountedTotal     100 non-null    int64
 4   userId              100 non-null    int64
 5   totalProducts       100 non-null    int64
 6   totalQuantity       100 non-null    int64
 7   id_product          100 non-null    int64
 8   title               100 non-null    object
 9   price               100 non-null    int64
 10  quantity            100 non-null    int64
 11  total_product       100 non-null    int64
 12  discountPercentage  100 non-null    float64
 13  discountedPrice     100 non-null    int64
dtypes: float64(1), int64(12), object(1)
memory usage: 11.1+ KB

### 3.4 Transformations

In [38]:
threshold = 100

big_sale_col = joined_df.apply(lambda row: row.total_product >= threshold, axis=1)
big_sale_col

0     False
1     False
2     False
3      True
4      True
      ...
95     True
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

In [39]:
joined_df['big_sale'] = big_sale_col
joined_df

,index,id_cart,total_cart,discountedTotal,userId,totalProducts,totalQuantity,id_product,title,price,quantity,total_product,discountPercentage,discountedPrice,big_sale
0,0,1,2328,1941,97,5,10,59,Spring and summershoes,20,3,60,8.71,55,False
1,0,1,2328,1941,97,5,10,88,TC Reusable Silicone Magic Washing Gloves,29,2,58,3.19,56,False
2,0,1,2328,1941,97,5,10,18,Oil Free Moisturizer 100ml,40,2,80,13.10,70,False
3,0,1,2328,1941,97,5,10,95,Wholesale cargo lashing Belt,930,1,930,17.67,766,True
4,0,1,2328,1941,97,5,10,39,Women Sweaters Wool,600,2,1200,17.20,994,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,19,20,315,279,75,5,8,66,Steel Analog Couple Watches,35,3,105,3.23,102,True
96,19,20,315,279,75,5,8,59,Spring and summershoes,20,1,20,8.71,18,False
97,19,20,315,279,75,5,8,29,Handcraft Chinese style,60,1,60,15.34,51,False
98,19,20,315,279,75,5,8,32,Sofa for Coffe Cafe,50,1,50,15.59,42,False
99,19,20,315,279,75,5,8,46,women's shoes,40,2,80,16.96,66,False

In [40]:
from datetime import datetime

In [41]:
now = datetime.now()

timestamp = datetime.timestamp(now)

joined_df['processed_ts'] = timestamp
joined_df

,index,id_cart,total_cart,discountedTotal,userId,totalProducts,totalQuantity,id_product,title,price,quantity,total_product,discountPercentage,discountedPrice,big_sale,processed_ts
0,0,1,2328,1941,97,5,10,59,Spring and summershoes,20,3,60,8.71,55,False,1.667988e+09
1,0,1,2328,1941,97,5,10,88,TC Reusable Silicone Magic Washing Gloves,29,2,58,3.19,56,False,1.667988e+09
2,0,1,2328,1941,97,5,10,18,Oil Free Moisturizer 100ml,40,2,80,13.10,70,False,1.667988e+09
3,0,1,2328,1941,97,5,10,95,Wholesale cargo lashing Belt,930,1,930,17.67,766,True,1.667988e+09
4,0,1,2328,1941,97,5,10,39,Women Sweaters Wool,600,2,1200,17.20,994,True,1.667988e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,19,20,315,279,75,5,8,66,Steel Analog Couple Watches,35,3,105,3.23,102,True,1.667988e+09
96,19,20,315,279,75,5,8,59,Spring and summershoes,20,1,20,8.71,18,False,1.667988e+09
97,19,20,315,279,75,5,8,29,Handcraft Chinese style,60,1,60,15.34,51,False,1.667988e+09
98,19,20,315,279,75,5,8,32,Sofa for Coffe Cafe,50,1,50,15.59,42,False,1.667988e+09
99,19,20,315,279,75,5,8,46,women's shoes,40,2,80,16.96,66,False,1.667988e+09

In [42]:
joined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               100 non-null    int64
 1   id_cart             100 non-null    int64
 2   total_cart          100 non-null    int64
 3   discountedTotal     100 non-null    int64
 4   userId              100 non-null    int64
 5   totalProducts       100 non-null    int64
 6   totalQuantity       100 non-null    int64
 7   id_product          100 non-null    int64
 8   title               100 non-null    object
 9   price               100 non-null    int64
 10  quantity            100 non-null    int64
 11  total_product       100 non-null    int64
 12  discountPercentage  100 non-null    float64
 13  discountedPrice     100 non-null    int64
 14  big_sale            100 non-null    bool
 15  processed_ts        100 non-null    float64
dtypes: bool(1), float64(2), int64(12), object(1)
memory usage: 11.9+ KB

### 3.5 Dump the transformed data as CSV

In [43]:
joined_df.to_csv('processed.csv', index=False)