In [ ]:
import pandas as pd
import pandas as pd
technologies = ({
    'Courses':["Spark","PySpark","Hadoop","Python","pandas","Oracle","Java"],
    'Fee' :[20000,25000,26000,22000,24000,21000,22000],
    'Duration':['30day', '40days' ,'35days', '40days', '60days', '50days', '55days']
              })
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration
0    Spark  20000    30day
1  PySpark  25000   40days
2   Hadoop  26000   35days
3   Python  22000   40days
4   pandas  24000   60days
5   Oracle  21000   50days
6     Java  22000   55days

In [ ]:
# Iterate all rows using DataFrame.iterrows()
for index, row in df.iterrows():
    print (index,row["Fee"], row["Courses"])

0 20000 Spark
1 25000 PySpark
2 26000 Hadoop
3 22000 Python
4 24000 pandas
5 21000 Oracle
6 22000 Java

# Using DataFrame.itertuples() to Iterate Over Rows

In [ ]:
# Iterate all rows using DataFrame.itertuples()
for row in df.itertuples(index = True):
    print (getattr(row,'Index'),getattr(row, "Fee"), getattr(row, "Courses"))

0 20000 Spark
1 25000 PySpark
2 26000 Hadoop
3 22000 Python
4 24000 pandas
5 21000 Oracle
6 22000 Java

In [ ]:
# Display one row from iterator
row = next(df.itertuples(index = True,name='Tution'))
print(row)

Tution(Index=0, Courses='Spark', Fee=20000, Duration='30day')

In [ ]:
# Another alternate approach by using DataFrame.apply
print(df.apply(lambda row: str(row["Fee"]) + " " + str(row["Courses"]), axis = 1))

0      20000 Spark
1    25000 PySpark
2     26000 Hadoop
3     22000 Python
4     24000 pandas
5     21000 Oracle
6       22000 Java
dtype: object

In [ ]:
# Using DataFrame.index
for idx in df.index:
     print(df['Fee'][idx], df['Courses'][idx])

20000 Spark
25000 PySpark
26000 Hadoop
22000 Python
24000 pandas
21000 Oracle
22000 Java

#MORE EXAMPLES ON USING PANDAS DATAFRAME

In [13]:
ohlc_data = [
    ["2020/4/6", 108.432, 119.393, 98.403, 109.252],
    ["2020/4/7", 109.252, 119.294, 98.680, 108.799],
    ["2020/4/8", 108.799, 119.109, 98.514, 108.854],
]

df = pd.DataFrame(ohlc_data, columns=["datetime", "open", "high", "low", "close"])
df.set_index("datetime", inplace=True)
print(df)

             open     high     low    close
datetime
2020/4/6  108.432  119.393  98.403  109.252
2020/4/7  109.252  119.294  98.680  108.799
2020/4/8  108.799  119.109  98.514  108.854

In [14]:
counter = 0
for index, sr_row in df.iterrows():
    print("\n*** Loop:[{}] ********************".format(counter))
    print("--- index -----")
    print(index)
    print("--- content -----")
    print(sr_row)
    print("--- 型を確認 -----")
    print(type(sr_row))
    counter += 1

*** Loop:[0] ********************
--- index -----
2020/4/6
--- content -----
open     108.432
high     119.393
low       98.403
close    109.252
Name: 2020/4/6, dtype: float64
--- 型を確認 -----
<class 'pandas.core.series.Series'>

*** Loop:[1] ********************
--- index -----
2020/4/7
--- content -----
open     109.252
high     119.294
low       98.680
close    108.799
Name: 2020/4/7, dtype: float64
--- 型を確認 -----
<class 'pandas.core.series.Series'>

*** Loop:[2] ********************
--- index -----
2020/4/8
--- content -----
open     108.799
high     119.109
low       98.514
close    108.854
Name: 2020/4/8, dtype: float64
--- 型を確認 -----
<class 'pandas.core.series.Series'>

## itertuples()

In [15]:
counter = 0
for n_tuple in df.itertuples():
    print("\n*** Loop:[{}] ********************".format(counter))
    print("--- 型を確認 -----")
    print(type(n_tuple))
    print("--- 名前で取得 -----")
    print("index: {}".format(n_tuple.Index))
    print("open : {}".format(n_tuple.open))
    print("high : {}".format(n_tuple.high))
    print("low  : {}".format(n_tuple.low))
    print("close: {}".format(n_tuple.close))
    print("--- インデックスで取得 -----")
    print("index: {}".format(n_tuple[0]))
    print("open : {}".format(n_tuple[1]))
    print("high : {}".format(n_tuple[2]))
    print("low  : {}".format(n_tuple[3]))
    print("close: {}".format(n_tuple[4]))
    counter += 1

*** Loop:[0] ********************
--- 型を確認 -----
<class 'pandas.core.frame.Pandas'>
--- 名前で取得 -----
index: 2020/4/6
open : 108.432
high : 119.393
low  : 98.403
close: 109.252
--- インデックスで取得 -----
index: 2020/4/6
open : 108.432
high : 119.393
low  : 98.403
close: 109.252

*** Loop:[1] ********************
--- 型を確認 -----
<class 'pandas.core.frame.Pandas'>
--- 名前で取得 -----
index: 2020/4/7
open : 109.252
high : 119.294
low  : 98.68
close: 108.799
--- インデックスで取得 -----
index: 2020/4/7
open : 109.252
high : 119.294
low  : 98.68
close: 108.799

*** Loop:[2] ********************
--- 型を確認 -----
<class 'pandas.core.frame.Pandas'>
--- 名前で取得 -----
index: 2020/4/8
open : 108.799
high : 119.109
low  : 98.514
close: 108.854
--- インデックスで取得 -----
index: 2020/4/8
open : 108.799
high : 119.109
low  : 98.514
close: 108.854

# Convert DataFrame to a List of Dictionaries in Python

# Using the to_dict() method:
The simplest way to convert a DataFrame to a list of dictionaries is by using the to_dict() method provided by Pandas. This method converts the DataFrame into a dictionary, where each column becomes a key, and the corresponding values form the associated values.

In [ ]:
# Create a sample DataFrame
data = {'Name': ['John', 'Jane', 'Alice'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)

# Convert DataFrame to a list of dictionaries
dict_list = df.to_dict('records')
print(dict_list)

[{'Name': 'John', 'Age': 25, 'City': 'New York'}, {'Name': 'Jane', 'Age': 30, 'City': 'London'}, {'Name': 'Alice', 'Age': 35, 'City': 'Paris'}]

# Iterating over DataFrame rows:
Another approach to convert a DataFrame to a list of dictionaries is by iterating over the rows and constructing dictionaries manually. This method provides more flexibility if you want to perform any additional data manipulation during the conversion process. Here’s an example:

In [ ]:
# Create a sample DataFrame
data = {'Name': ['John', 'Jane', 'Alice'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)

# Convert DataFrame to a list of dictionaries
dict_list = []
for _, row in df.iterrows():
    dictionary = {}
    for column in df.columns:
        dictionary[column] = row[column]
    dict_list.append(dictionary)

print(dict_list)

[{'Name': 'John', 'Age': 25, 'City': 'New York'}, {'Name': 'Jane', 'Age': 30, 'City': 'London'}, {'Name': 'Alice', 'Age': 35, 'City': 'Paris'}]

# Export Pandas DataFrame to PDF using fpdf in Python

In [ ]:
!pip install  fpdf --quiet

  Preparing metadata (setup.py) ... done
  Building wheel for fpdf (setup.py) ... done

In [ ]:
from fpdf import FPDF
filename = "nomi.pdf"

def export_df_to_pdf(df, filename):
    """
    This function exports a pandas DataFrame to a PDF file using the fpdf library.

    Parameters:
    df (pandas.DataFrame): The DataFrame to be exported
    filename (str): The name of the PDF file to be created

    Returns:
    None
    """
    try:
        # Check if the input is a pandas DataFrame
        if not isinstance(df, pd.DataFrame):
            raise TypeError("Input must be a pandas DataFrame")

        # Create a PDF object
        pdf = FPDF()
        pdf.add_page()

        # Set the font and font size
        pdf.set_font("Arial", size=12)

        # Loop through the DataFrame and add each row to the PDF
        for index, row in df.iterrows():
            pdf.cell(200, 10, str(row.tolist()), border=1)

        # Save the PDF
        pdf.output(filename)
    except Exception as e:
        # Log the error
        print(f"Error: {e}")

In [ ]:
export_df_to_pdf(df, filename)

#Resources
- https://sparkbyexamples.com/pandas/iterate-over-rows-in-pandas-dataframe/
- https://levelup.gitconnected.com/ten-practices-i-abandoned-in-pandas-after-gleaning-insights-from-experts-39b80afd8a82